---
import { Image } from 'astro:assets';
import type { Experience } from '../interfaces';
import ExperienceCard from './experience-card.astro';
import nelmixlogo from '../images/company-logos/nelmix.png';
import Section from '../layouts/sections-layout.astro';

const { lang } = Astro.props;
const en_experiences: Experience[] = [
    {
        company: 'Nelmix Solutions',
        companyLogoUrl: nelmixlogo,
        date: 'Present',
        description: `
            My role consists of creating, building and maintaining web applications,
            optimizing their performance by improving quality and user experience.
        `,
        title: 'Jr Frontend Developer',
        link: 'https://nelmix.com/',
        skills: ['Angular', 'Typescript', 'Git', 'Github', 'Jira', 'Docker']
    },
    {
        company: 'Nelmix Solutions',
        companyLogoUrl: nelmixlogo,
        date: 'October 2023',
        description: `My role consisted of polishing and maintaining consumer-focused websites.`,
        title: 'Intership Frontend Developer',
        link: 'https://nelmix.com/',
        skills: ['Angular', 'TypeForms']
    }
];
const es_experiences: Experience[] = [
{
        company: 'Nelmix Solutions',
        companyLogoUrl: nelmixlogo,
        date: 'Actualidad',
        description: `
            Mi rol conciste en la creación, construcción y mantenimiento de aplicaciones webs,
            optimizando su desempeño mejorando la calidad y experiencia del usuario.
        `,
        title: 'Jr Frontend Web Developer',
        link: 'https://nelmix.com/',
        skills: ['Angular', 'Typescript', 'Git', 'Github', 'Jira', 'Docker']
    },
    {
        company: 'Nelmix Solutions',
        companyLogoUrl: nelmixlogo,
        date: 'Octubre 2023',
        description: `Mi rol concistía en pulir y mantener páginas web enfocadas hacia el consumidor.`,
        title: 'Pasante Desarrollador Web Frontend',
        link: 'https://nelmix.com/',
        skills: ['Angular', 'TypeForms']
    }
];
const desc: string = 'My experience';
const es_desc: string = 'Mi experiencia';
---
<Section section="experience" name={lang === 'en' ? 'Experience' : 'Experiencia'} description={lang === 'en' ? desc : es_desc}>
    <div id="experiences" class="w-full grid gap-6">
        {
            lang === 'en' ? en_experiences.map((xp, index) => 
                <ExperienceCard
                    title={xp.title}
                    company={xp.company}
                    description={xp.description}
                    date={xp.date}
                    link={xp.link}
                    companyLogoUrl={xp.companyLogoUrl}
                    index={index}
                    skills={xp.skills}
                />
            ) : es_experiences.map((xp, index) => 
                <ExperienceCard
                    title={xp.title}
                    company={xp.company}
                    description={xp.description}
                    date={xp.date}
                    link={xp.link}
                    companyLogoUrl={xp.companyLogoUrl}
                    index={index}
                    skills={xp.skills}
                />
            )
        }
        <div class="absolute md:left-1/2 transform -z-[2] -translate-x-1/2 w-0.5 h-full bg-gray-200 dark:bg-gray-700" aria-hidden="true"></div>
    </div>
</Section