---
import type { Link } from '../interfaces';
import Mobile from './mobile-nav-bar.astro';
import Settings from './settings.astro';

const { lang } = Astro.props;
const links: Link[] = [
  {
    en_name: 'Home',
    es_name: 'Inicio',
    label: 'hero',
    path: '#hero'
  },
  {
    en_name: 'Skills',
    es_name: 'Habilidades',
    label: 'skills',
    path: '#skills'
  },
  {
    en_name: 'Experience',
    es_name: 'Experiencia',
    label: 'experience',
    path: '#experience'
  },
  {
    en_name: 'Projects',
    es_name: 'Proyectos',
    label: 'projects',
    path: '#projects'
  }
];
---
<nav id="nav-bar" class="flex gap-3 justify-center fixed top-6 rounded-full p-[10px] z-40 transition-all duration-500">
  <ul class="hidden md:flex justify-center gap-3 items-center">
    {
      links && links.map(link => 
        <li class="font-raleway font-bold rounded-[10px]">
          <a 
            class="p-[10px] transition-all duration-500 hover:bg-slate-100 dark:hover:bg-slate-600 hover:text-sky-500 dark:hover:text-white/80 rounded-full"
            href={link.path}
            aria-label={link.label}
          >
            {lang === 'en' ? link.en_name : link.es_name}
          </a>
        </li>
      )
    }
  </ul>
  <Settings lang={lang}/>
  <!-- <Mobile links={links} lang={lang}/> -->
</nav>
<script>
  import '../scripts/nav-bar';
  import '../scripts/scroll-spy';
</script>