---
import { Image } from 'astro:assets';
import roadrunners from '../assets/projects/rr-cover.png';
import weatherapp from '../assets/projects/weather-cover.png';
import vantar from '../assets/projects/vantar-cover.png';
import githubImg from '../assets/logos/github-mark.png';
import Section from '../layouts/sections-layout.astro';
import type { Project } from '../interfaces';
import Tags from './tags.astro';
import ProjectCard from './project-card.astro';

const { lang } = Astro.props;
const projects: Project[] = [
    {
        name: 'RoadRunners',
        link: 'https://road-runners-front.vercel.app/',
        githubLink: 'https://github.com/Tcriss/RoadRunners-Front',
        imageUrl: roadrunners,
        description: 'A page to publish your car on sale',
        tags: ['Angular', 'Firebase', 'Express', 'NestJS', 'Cloudinary', 'MongoDB', 'Firebase']
    },
    {
        name: 'Weather App',
        link: null,
        githubLink: 'https://github.com/Tcriss/weather-react-app',
        imageUrl: weatherapp,
        description: 'A simple but elegant weather web app made with react + vite.',
        tags: ['React', 'Zustand', 'Vite']
    },
    {
        name: 'Vantar API',
        link: null,
        githubLink: 'https://github.com/Tcriss/vantar-api',
        imageUrl: vantar,
        description: 'A powerfull API made to manage inventories.',
        tags: ['NestJS', 'Clean Arquitecture', 'PostgreSQL', 'MongoDB', 'Jest', 'Prisma']
    }
];
const es_projects: Project[] = [
    {
        name: 'RoadRunners',
        link: 'https://road-runners-front.vercel.app/',
        githubLink: 'https://github.com/Tcriss/RoadRunners-Front',
        imageUrl: roadrunners,
        description: 'Una web donde puedes poner tu vehículo en venta.',
        tags: ['Angular', 'Firebase', 'Express', 'NestJS', 'Cloudinary', 'MongoDB', 'Firebase']
    },
    {
        name: 'Weather App',
        link: null,
        githubLink: 'https://github.com/Tcriss/weather-react-app',
        imageUrl: weatherapp,
        description: 'Simple pero elegante aplicación del clima.',
        tags: ['React', 'Zustand', 'Vite']
    },
    {
        name: 'Vantar API',
        link: null,
        githubLink: 'https://github.com/Tcriss/vantar-api',
        imageUrl: vantar,
        description: 'Una gran API para administrar inventarios.',
        tags: ['NestJS', 'Clean Arquitecture', 'PostgreSQL', 'MongoDB', 'Jest', 'Prisma']
    }
];
const desc: string = "Here's some of my best work for the moment.";
const es_desc: string = 'Aqui dejo alguno de mis mejores proyectos por el momento'
---
<Section section="projects" name={lang === 'en' ? 'Projects' : 'Proyectos'} description={lang === 'en' ? desc : es_desc}>
    <div class="w-full grid grid-cols-auto-fill-260 gap-4">
        {
            lang === 'en' ? projects.map(project => 
                <ProjectCard
                    imageUrl={project.imageUrl}
                    name={project.name}
                    description={project.description}
                    link={project.link}
                    githubLink={project.githubLink}
                    tags={project.tags}
                />
            ) : es_projects.map(project => 
                <ProjectCard
                    imageUrl={project.imageUrl}
                    name={project.name}
                    description={project.description}
                    link={project.link}
                    githubLink={project.githubLink}
                    tags={project.tags}
                />
            )
        }
    </div>
    <section id="actions" class="w-full py-7 flex justify-center items-center">
        <a href="https://github.com/Tcriss?tab=repositories" target="_blank" class="font-jetbrains-mono text-center focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-4 bg-gray-800 text-white border-gray-600 hover:bg-gray-700 hover:border-gray-600 focus:ring-gray-700">{
            lang === 'en' ? 'See all projects ->' : 'Ver todos los proyectos ->'
        }</a>
    </section>
    <style>
        @media (prefers-reduced-motion: no-preference) {
            @supports (animation-timeline: scroll()) {
                article {
                    animation: reveal-project linear forwards;
                    animation-timeline: view();
                    animation-range: cover 0% entry-crossing 100%;
                }
            }
        }
        @keyframes reveal-project {
            0% {
                opacity: 0;
                transform: scale(0.90);
                transform: translateY(120px);
            }
            100% {
                opacity: 1;
                transform: scale(1);
                transform: translateY(0);
            }
        }
    </style>
</Section>