---
import { Image } from 'astro:assets';

const frontStack = [
  "html",
  "css",
  "sass",
  "tailwind",
  "javascript",
  "angular",
  "react",
  "astro",
  "nodejs",
  "express",
  'nestjs',
  'mongodb',
  'postgres',
  'prisma',
  'git',
  'github',
  'docker',
  'figma',
  'jest',
  'kotlin',
];
---

<section id="stack" class="w-full flex justify-center gap-3 overflow-hidden whitespace-nowrap [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]">
  <ul class="flex gap-3 [&_img]:max-w-none animate-infinite-scroll">
    {
      frontStack.map((stack) => (
        <li class="carousel-item">
          <Image src={`https://skillicons.dev/icons?i=${stack}`} alt={stack} width="50" height="50" />
        </li>
      ))
    }
  </ul>
  <ul class="flex gap-3 [&_img]:max-w-none animate-infinite-scroll">
    {
      frontStack.map((stack) => (
        <li class="carousel-item">
          <Image src={`https://skillicons.dev/icons?i=${stack}`} alt={stack} width="50" height="50" />
        </li>
      ))
    }
  </ul>
  <ul class="flex gap-3 [&_img]:max-w-none animate-infinite-scroll">
    {
      frontStack.map((stack) => (
        <li class="carousel-item">
          <Image src={`https://skillicons.dev/icons?i=${stack}`} alt={stack} width="50" height="50" />
        </li>
      ))
    }
  </ul>
</section>
