---
import '@fontsource-variable/raleway';
import '@fontsource-variable/inter';
import '@fontsource-variable/jetbrains-mono';
import { SEO } from 'astro-seo';
import Footer from "../components/footer.astro";
import NavBar from "../components/nav-bar.astro";
import { ViewTransitions } from 'astro:transitions';
import Hero from '../components/hero.astro';

const { pageTitle, lang, description } = Astro.props;
---
<!DOCTYPE html>
<html lang={lang}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <title>Cristian Tejeda</title>
    <SEO
        description={description}
        openGraph={{
            basic: {
              title: `${lang === 'en' ? "I'm" : 'Soy'} Cristian Tejeda`,
              type: "A type.",
              image: "https://tcriss.netlify.app/images/preview.png",
            }
        }}
        twitter={{
            site: `https://tcriss.netlify.app${lang === 'en' ? '/en/' : '/es/'}`,
            title: `${lang === 'en' ? "I'm" : 'Soy'} Cristian Tejeda`,
            description: description,
            image: "https://tcriss.netlify.app/images/preview.png",
        }}
        extend={{
            meta: [
                {
                    name: 'og:locale',
                    content: `${lang === 'en' ? 'en_US' : 'es_ES'}`,
                },
                {
                    name: 'og:description',
                    content: description,
                },
                {
                    name: 'og:site_name',
                    content: 'Cristian Tejeda',
                },
                {
                    name: 'og:type',
                    content: 'website'
                },
                {
                    name: 'keywords',
                    content: [
                        'cristian tejeda',
                        'cristian alberto tejeda rojas',
                        'Javascript Developer',
                        'developer',
                        'web developer',
                        'web developer portfolio',
                        'web developer page'
                    ]
                }
            ]
        }}
    />
    <ViewTransitions/>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-straight/css/uicons-bold-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-brands/css/uicons-brands.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-rounded/css/uicons-solid-rounded.css'>
</head>
<body transition:animate="slide" class="flex font-inter flex-col dark:bg-[#151515] dark:text-white items-center">
    <NavBar lang={lang}/>
    <Hero id="home" lang={lang}/>
    <main class="w-10/12 md:w-4/6 grid gap-12">
        <slot/>
        <Footer lang={lang}/>
    </main>
</body>
</html>
<style is:global>
    html {
        scroll-behavior: smooth;
    }

    @media (prefers-reduced-motion: no-preference) {
            @supports (animation-timeline: scroll()) {
                p, h3 {
                    animation: reveal-text linear forwards;
                    animation-timeline: view();
                    animation-range: cover 0% entry-crossing 100%;
                }
            }
        }
        @keyframes reveal-text {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
    }
</style>